<div class="container">
  <!-- <pro-langs class="langs" btnClass></pro-langs> -->
  <div>
    <div class="center-login">
      <router-outlet></router-outlet>
    </div>

    <!-- <nz-row class="center-login">
      <nz-col><img src="./assets/img-login.jpg" alt="" /></nz-col>
      <nz-col> <router-outlet></router-outlet></nz-col>
    </nz-row> -->
    <!-- 
    <global-footer class="footer-bottom">
      {{ 'footer-copyright' | i18n }}
      <i nz-icon nzType="copyright"></i>
      {{ year }}
      |
      <a href="{{ 'footer-url' | i18n }}" target="_blank"> {{ 'footer-name' | i18n }} </a>
      | {{ version }} | {{ build * 1000 | date : 'yyyy-MM-dd HH:mm:ss' }}
    </global-footer> -->
  </div>
</div>
